/* basics som font osv. */

h1{

font-size: 40px;

}

h2 {

font-size: 30px;

} 

h3 {
font-size: 25px;
}

h4 {

font-size: 14px;

}

h5 {

font-size: 10px;
}

h6 {
 font-size: 15px;	
}
p{
hyphens: auto;
}























/*_______________________________________________________________________________________________________________________________________*/
/* header */

/* design af nav bar + logo */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

nav {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

nav a {
	margin: 0 20px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

nav a:hover {
	color: #666;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.logo-container img {
	height: 200px;
	margin-right: 10px;
}
























/*_______________________________________________________________________________________________________________________________________*/
/* main */

/* forside design med billede */
main {
	align-items: center;
	margin-top: 100px
}

.image-container {
	margin-top: 150px;
	position: relative;
	width: 100%;
	height: 983px;
}

.image-container img {
	width: 100%;
	height: 100%;
}

.billed-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.billed-text2 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

/* forside kort/artikler layout  */


#kortkontrol{
	margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.kort {
	display: inline-block;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
	max-width: 250px;
}




.kort:hover {
	transform: translateY(-5px);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.kort img {
	height: 175px;
	width: 250px;
	
}

.kort-titel {
	font-weight: bold;
	margin-bottom: 10px;
}

.kort-text {
	display: flex;
	text-align: left;
	margin-bottom: 20px;
}

/* overskrift og stort billede + små artikler og layout */

.container {
	display: flex;
	align-items: center;
}
  
.venstre {
	flex-basis: 90%;
}

.venstre img {
	width: 80%;
	height: 80%;
	margin-left: 80px;
}

.venstre h1{
	margin-left: 80px;
	margin-right: 100px;
}

.kontrolhøjrebox{

 margin-left: 100px;	
}
  
.højre {
	position: relative;
	flex-basis: 10%;
	display: flex;
	flex-direction: column;
}

.teksthøjreboks{
	margin-left: 20px;
	flex-direction: column;
}

.box-læsogså {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}
  
.box-læsogså img {
	width: 140px;
	height: 100px;
}


/* selve layout af resume + faktaboks og artiklerne */

.fakta-box-setup{
	display: flex;
	margin-top: 200px;
	justify-content: space-between;
}

.resume {
	flex: 1;
	padding-right: 100px;
	box-sizing: border-box;
	margin-left: 80px;
}

.resumep{
	font-size: 18px;
	
}



.fakta-box {
	flex: 1;
	background-color: #183f64;
	color: #fff;
	text-align: left;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 150px;
	height: 600px;
	margin-top: 100px;
	
	
}
 
.fakta-box h3 {

	margin-left: 40px;
	
}
  
.fakta-box p {
	margin-top: 50px;
	margin-left: 50px;
	
}
  

.artiklerlayout{
display: flex;

margin-top: 100px;
}

.artikler{
	flex: 1;
	padding: 20px;
	box-sizing: border-box;	
	margin-left: 65px;
	padding-right: 75px;
}

.artikler-billede {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 200px;
}

  
.artikler-billede img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}


.artikler-fiskeudstyr {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 370px;
}
  
.artikler-fiskeudstyr img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.artikler-fiskeline {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 300px;
}

  
.artikler-fiskeline img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}


.artikler-fisketur {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 300px;
}
  
.artikler-fisketur img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.artikler-blink {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 450px;
}
  
.artikler-blink img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}
/* fiskespots specialside med google maps lokationer */

.kontrol-fiskelokationer {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 100px;
  }
  
  .fiske-lokationer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1100px;
	margin-top: 20px;
  }
  
  .tekst-lokationer {
	padding: 20px;
	
  }

  .lokationer-tekst {
	margin-right: 700px;
	
  }

  .lokationer{

	padding-top: 75px;

  }
  
  
  iframe {
	border: 0;
	width: 600px;
	height: 400px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
